.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
}

main {
    flex: auto
}

footer {
    flex: 1;
}

#display {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

#operands {
    height: 60px;
    border: 0px;
    flex: 1
}

#ans {
    text-align: right;
    flex: auto;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
}

@media(max-width:490px) {
    #cal {
        display: block !important;
        width: 80%;
    }
}